[submodule ".docker/prestashop-shop-creator"]
	path = .docker/prestashop-shop-creator
	url = https://github.com/lucmichalski/prestashop-shop-creator
[submodule "makefiles"]
	path = makefiles
	url = https://github.com/lucmichalski/makefiles
[submodule ".docker/mariadb"]
	path = .docker/mariadb
	url = https://github.com/lucmichalski/bunkerized-mariadb
[submodule ".docker/nginx"]
	path = .docker/nginx
	url = https://github.com/lucmichalski/bunkerized-nginx
